<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
</head>
<body>

    {% if form.errors %}
        <p>Your username and password didn't match. Try again</p>
    {% endif %}

    {% if next %}
        {% if user.is_authenticated %}
            <p>Your account does not have access to this page. To proceed </p>
        {% else %}
            please login to see this page
        {% endif %}
    {% endif %}
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <div>
            <td>{{ form.username.label_tag }}</td>
            <td>{{ form.username }}</td>
        </div>
        <div>
            <td>{{ form.password.label_tag }}</td>
            <td>{{ form.password }}</td>
        </div>
        <div>
            <input type="submit" value="login">
            <input type="hidden" name="next" value="{{ next }}">
        </div>
    </form>
    <p><a href="{% url 'password_reset' %}">Забыли пароль?</a> </p>

</body>
</html>