<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Password reset confirmation</title>
</head>
<body>

<div>
    {% if validlink %}
        <p>Введите новый пароль</p>
        <form action="" method="post">
            <div style="display: none;">
                <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
            </div>
            <table>
                <td>
                    <tr>
                        <td>{{ new.password1.errors }}
                            <label for="id_new_password1">New password</label>
                        </td>
                        <td>
                            {{ form.new_password1 }}
                        </td>
                    </tr>
                </td>
                <td>
                    {{ new.password2.errors }}
                    <label for="id_new_password2">Подтвердите пароль</label>
                </td>
                <td>
                    {{ form.new_password2 }}
                </td>
                </tr>
                <tr>
                    <td><input type="submit" value="ПОменять пароль"></td>
                </tr>
            </table>
        </form>
    {% else %}
        <h1>Ошибка сброса</h1>
    {% endif %}
</div>

</body>
</html>